html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.4;
}

h1,h2,h3,h4,h5 {
  
}

p {
  margin: 0 0 1em 0;
  padding: 0;
}

a {
  color: blue;
}

a:hover,
a:active,
a:focus {
  color: green;
}


::-moz-selection {
    background: #fbffa0;
    text-shadow: none;
}

::selection {
    background: #fbffa0;
    text-shadow: none;
}

/* Defaults */

* {
	-webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/js/vendor/boxsizing.htc);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.nomobile {
	display: none;
}

.mobile {
	display: block;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
	clear: both;
  *zoom: 1;
}


/* Grid */
.grid {
  width: 100%;
  margin: 0;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.col-1, .col-2-3, .col-2, .col-3, .col-4, .col-5 {
  width: 100%;
}

[class*='col-'] {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 0 1em 0;
}


.chromeframe {
    background: #ffbbbb;
    padding: 1em;
}

.chromeframe span {
  display: inline-block;
  margin: 0 .5em 0 0;
  font-size: 250%;
  color: #aa0000;
  font-weight: bold;
  vertical-align: middle;
}

.chromeframe a {
  color: #000;
}

.chromeframe a:hover,
.chromeframe a:active,
.chromeframe a:focus {
  color: #fff;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */




/* Grafene Theme */
@import url(http://fonts.googleapis.com/css?family=Jockey+One);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
.db { color: #022046; }
.lb { color: #2e5b85; }
.gr { color: #91a0b3; }

body { 
  font-family: "Ubuntu", sans-serif; 
  background: url(../img/grafene-bg.jpg) bottom center no-repeat; 
}
.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	max-width: 1000px;
}
.logo { 
  font-size: 260%;
  font-family: "Jockey One", sans-serif;
}
.logo img {
  margin: 1em 0;
  max-width: 200px;
}
.logo h1 {
  margin: 0;
}
.nav { 
}
.nav ul {
  margin: 0; padding: 0; list-style: none;
}
.nav li { 
  display: inline-block;
}
.nav a { 
  display: block; 
  padding: .5em; 
  margin: 0 .25em; 
  background: #022046; 
  color: #fff; 
  text-decoration: none; 
  border-radius: 5px; 
}
.nav a:hover {
  background: #2e5b85;
}
.main {
  padding: 1em;
}
/* END Grafene Theme */












/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width:20em) 
and (max-device-width:30em) {
/* Styles */




/* END */
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width:20.063em) {
/* Styles */




/* END */
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width:20em) {
/* Styles */




/* END */
}


/* iPhone 4+ ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
/* Styles */




/* END */
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width:48em)  {
/* Defaults */
.mobile {
  display: none;
}

.no-mobile {
  display: block;
}


/* Grid */

.col-2 {
width: 49%;
}

.col-2-3 {
width: 65%;
}

.col-3 {
width: 32%
}

.col-4 {
width: 24%
}

.col-5 {
width: 19%;
}


/* END */
}



/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width:48em) 
and (max-device-width:64em) 
and (orientation:landscape) {
/* Styles */



/* END */
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width:48em) 
and (max-device-width:64em) 
and (orientation:portrait) {
/* Styles */


/* END */
}


/* 1000px Wide ----------- */
@media only screen 
and (min-width:62.5em) {
/* Styles */


/* END */
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width:76.5em) {
/* Styles */


/* END */
}


/* Large screens ----------- */
@media only screen 
and (min-width:114em) {
/* Styles */


/* END */
}


@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
/* Styles */


/* END */
}






/* ==========================================================================
   Basic Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}